<h2 class="text-2xl font-bold text-center mb-6">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "max-w-lg mx-auto p-6 bg-blue-50 rounded shadow-md" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">
      Email <span class="text-red-500">*</span>
    </label>
    <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "mt-1 block w-full min-w-[18rem] border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">
      Password <span class="text-red-500">*</span> 
      <% if @minimum_password_length %>
      <span class="text-gray-500">(<%= @minimum_password_length %> characters minimum)</span>
      <% end %>
    </label>
    <%= f.password_field :password, required: true, autocomplete: "new-password", class: "mt-1 block w-full min-w-[18rem] border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
  </div>

  <div class="mb-4">
    <label class="block text-sm font-medium text-gray-700">
      Password Confirmation <span class="text-red-500">*</span>
    </label>
    <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "mt-1 block w-full min-w-[18rem] border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" %>
  </div>

  <div>
    <%= f.submit "Sign up", class: "mt-4 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded w-full" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
