<div class="w-full bg-gray-600 shadow-dark px-4 py-1 flex justify-between items-center gap-4 relative z-999">
	<%= link_to books_path do %>
		<%= image_tag 'bookwheel_logo.png', width: '60', height: '60', class: 'm-auto rounded-full' %>
	<% end %>	  

  <div class="flex justify-between items-center gap-4">
		<%= link_to "New Book", new_book_path, class: "menu-btn" %>
		<%= link_to "My Books", my_books_books_path, class: "menu-btn" %>
		<%= link_to "Reservations", reservations_path, class: "menu-btn" %>

 		<div class="px-4">
			<%= render(UserDropdownComponent.new) %>
		</div>

	</div>
</div>


