<h1>Chat with <%= @chat.book_owner == current_user ? @chat.buyer.first_name : @chat.book_owner.first_name %></h1>

<div id="messages">
  <% @messages.each do |message| %>
    <p><strong><%= message.user.first_name %>:</strong> <%= message.content %></p>
  <% end %>
</div>

<%= form_with(model: [@chat, Message.new], local: true) do |form| %>
  <div class="form-group">
    <%= form.text_area :content, rows: 3, class: "form-control" %>
  </div>
  <%= form.submit "Send", class: "btn btn-primary" %>
<% end %>
