<div class="container mx-auto p-6 w-full lg:w-1/2">
  <h1 class="text-2xl font-semibold mb-6">
    Chat with <%= @chat.book_owner == current_user ? @chat.buyer.first_name : @chat.book_owner.first_name %>
  </h1>

  <div id="messages" class="mb-6 space-y-4 p-4 bg-gray-100 rounded-lg h-96 overflow-y-auto">
    <% @messages.each do |message| %>
      <div class="w-full">
        <div class="flex <%= 'flex-row-reverse' if message.user == current_user %> justify-start items-start gap-1">
          <div class="w-[20px] h-[20px] <%= message.user == current_user ? 'bg-blue-200': 'bg-orange-300' %> rounded-full flex m-1">
            <span class='m-auto text-blue-800 text-xs'><%= message.user.initials %></span>
          </div>

          <p class="text-gray-700 border rounded-lg shadow-md px-2 py-1 <%= message.user == current_user ? 'bg-white': 'bg-blue-100' %>"><%= message.content %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%= form_with(model: [@chat, Message.new], local: true) do |form| %>
    <div class="form-group mb-4">
      <%= form.text_area :content, rows: 3, class: "w-full p-2 border border-gray-300 rounded-lg shadow-sm focus:ring focus:ring-indigo-200 focus:border-indigo-500" %>
    </div>
    <%= form.submit "Send", class: "bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded-lg shadow" %>
  <% end %>
</div>
