<div class="w-full p-4 bg-gradient-to-r from-blue-200 via-blue-100 to-cyan-100 flex flex-col items-center">
  <%= form_tag books_path, method: :get, class: "flex flex-col justify-between gap-2 items-center w-[300px] relative", data: { controller: "search" } do %>
    <!-- Search Input -->
    <div class="flex-grow relative w-full">
      <!-- Search Icon -->
      <span id="icon-container" class="absolute inset-y-0 left-2 flex items-center pointer-events-none">
        <i id="search-icon" class="fa-solid fa-magnifying-glass text-gray-500"></i>
      </span>
      <%= text_field_tag :query,
        params[:query],
        class: "w-full pl-9 p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:border-blue-500",
        placeholder: "What are you looking for?",
        id: "search-input" %>
    </div>

    <div class="flex justify-between items-center gap-8 mx-auto w-full">
      <%# Category Search %>
      <div>
        <!-- Category Dropdown -->
        <div class="relative">
          <button
            type="button"
            class="text-blue-700 rounded hover:font-semibold"
            data-action="click->search#toggleCategoryDropdown"
            id="category-dropdown-btn">
            Category
            <i class="fa-solid fa-chevron-down"></i>
          </button>

          <!-- Dropdown Menu -->
          <div
            class="absolute left-0 mt-2 w-48 bg-white border border-gray-300 rounded shadow-lg hidden z-50"
            data-search-target="dropdownCategory">
            <% Category.all.each do |category| %>
              <button
                type="button"
                class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                data-action="click->search#selectCategory"
                data-category-id="<%= category.id %>">
                <%= category.name %>
              </button>
            <% end %>
          </div>
        </div>

        <!-- Hidden Category Field -->
        <%= hidden_field_tag :category, params[:category], id: "category-field", data: { search_target: "categoryField" } %>
      </div>

      <%# Language Search %>
      <div>
        <!-- Language Dropdown -->
        <div class="relative">
          <button
            type="button"
            class="text-blue-700 rounded hover:font-semibold"
            data-action="click->search#toggleLanguageDropdown"
            id="language-dropdown-btn">
            Language
            <i class="fa-solid fa-chevron-down"></i>
          </button>

          <!-- Dropdown Menu -->
          <div
            class="absolute left-0 mt-2 w-48 bg-white border border-gray-300 rounded shadow-lg hidden z-50"
            data-search-target="dropdownLanguage">
            <% Language.all.each do |language| %>
              <button
                type="button"
                class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                data-action="click->search#selectLanguage"
                data-language-id="<%= language.id %>">
                <%= language.name %>
              </button>
            <% end %>
          </div>
        </div>

        <!-- Hidden Language Field -->
        <%= hidden_field_tag :language, params[:language], id: "language-field", data: { search_target: "languageField" } %>
      </div>

      <%# Age group Search %>
      <div>
        <!-- Age Dropdown -->
        <div class="relative">
          <button
            type="button"
            class="text-blue-700 rounded hover:font-semibold"
            data-action="click->search#toggleAgeGroupDropdown"
            id="age-group-dropdown-btn">
            Age
            <i class="fa-solid fa-chevron-down"></i>
          </button>

          <!-- Dropdown Menu -->
          <div
            class="absolute left-0 mt-2 w-48 bg-white border border-gray-300 rounded shadow-lg hidden z-50"
            data-search-target="dropdownAgeGroup">
            <% AgeGroup.all.each do |age| %>
              <button
                type="button"
                class="block w-full text-left px-4 py-2 hover:bg-gray-100"
                data-action="click->search#selectAgeGroup"
                data-age-group-id="<%= age.id %>">
                <%= age.name %>
              </button>
            <% end %>
          </div>
        </div>

        <!-- Hidden Language Field -->
        <%= hidden_field_tag :age_group, params[:age_group], id: "age-group-field", data: { search_target: "ageGroupField" } %>
      </div>
    </div>
   

    <!-- Hidden Submit Button -->
    <%= submit_tag "", class: "hidden", id: "search-submit" %>
  <% end %>
</div>

<%# Book List %>
<div class="mx-auto py-4 px-2 md:px-4">
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-4 justify-center">
    <% @books.each do |book| %>
      <div class="relative bg-white shadow-lg border rounded-lg overflow-hidden flex flex-col w-full md:w-[300px] h-full group">
        <%= link_to book_path(book), class: "block" do %>
          <!-- Book Image Container (2:3 Aspect Ratio) -->
          <div class="relative w-full aspect-[2/3] p-1 md:p-2 flex justify-center items-center">
            <!-- Book Image with Gradient Overlay -->
            <div class="relative w-full h-full">
              <%= cl_image_tag book.photo.key, alt: book.title, class: "w-full h-full object-cover rounded-t" %>
              <div class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent"></div>
            </div>
          </div>

          <!-- Book Info -->
          <div class="flex flex-col flex-grow px-2 py-2">
            <p class="text-green-700">
              <span class="align-center text-sm">AED</span>
              <span class="text-lg font-semibold"><%= book.price %></span>
            </p>
            <h2 class="text-sm font-semibold leading-tight w-full"><%= book.title %></h2>
            <p class="text-xs text-gray-400 leading-tight"><%= book.author %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="flex justify-center items-center my-2">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>









