<div class="mx-auto p-2 mx-4 w-full lg:w-1/2">
  <h1 class="text-xl font-bold text-center pb-6">My Books</h1>
  <div class="flex flex-col w-full gap-4">
    <% if @books.present? %>
      <% @books.each do |book| %>
        <%= link_to edit_book_path(book), class: "flex flex-wrap items-center justify-start gap-4 border rounded-lg shadow-lg h-full w-full" do %>
          <!-- Book Image -->
          <%= cl_image_tag book.photo.key, alt: book.title, class: "w-[100px] h-[120px] rounded-l-lg object-cover" %>
          <div class="flex justify-between items-start flex-grow">
            <!-- Book Info -->
            <div class="flex flex-col flex-shrink pr-4 justify-between">
              <h2 class="text-md font-semibold truncate mb-2"><%= book.title.humanize %></h2>
              <div class="flex justify-between">
                <p class="text-xs text-gray-600 truncate">by <span class></span><%= book.author %></p>   
              </div>
            </div>
            <div class="flex flex-shrink-0 pr-4">
              <p class="text-green-700">
                <span class="align-center text-sm">AED</span>
                <span class="text-lg font-bold">            
                  <%= book.price %>
                </span>
              </p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>  
      <h2 class="text-sm text-center mt-3 font-semibold">You don't have any books yet</h2>
    <% end %>
  </div>
</div>

