<div class="w-4/5 mx-auto my-8 p-6 flex gap-4 rounded-lg shadow-md bg-white">
  <!-- Book Image -->
  <div class="w-1/2 p-4 flex justify-center items-center shrink-0">
    <%= cl_image_tag @book.photo.key, height: 500, width: 300, class: "w-full h-full object-contain" %>

  </div>

  <!-- Book Details -->
  <div class="w-1/2 p-4 flex flex-col justify-between h-full">
    <div>
      <!-- Book Title -->
      <h1 class="text-2xl font-semibold text-gray-800"><%= @book.title %></h1>

      <!-- Book Author -->
      <p class="text-sm text-gray-600 mt-2">by <%= @book.author %></p>

      <!-- Book Category -->
      <p class="text-gray-600 mt-4">Category: <%= @book.category.name %></p>
      
      <!-- Book Language -->
      <p class="text-gray-600 mt-2">Language: <%= @book.language.name %></p>
    </div>

    <div class="flex-grow mt-4 overflow-hidden">  
      <!-- Book Description -->
      <div class="text-gray-600">
        <strong>Description:</strong>
        <p class="mt-1 whitespace-normal break-words">
          <%= @book.description %>
        </p>
      </div>
    </div>

    <div>
      <!-- Book Price -->
      <p class="text-xl font-bold text-green-700 mt-4">Price: AED <%= @book.price %></p>

      <!-- Action Buttons -->
      <div class="mt-6 flex gap-4">
        <%= link_to 'Request to buy', new_reservation_path, class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded" %>
      </div>
    </div>
  </div>
</div>
