<div class="md:w-3/5 w-full p-2 my-4 flex flex-col md:flex-row bg-white h-auto">
  <!-- Book Image -->
  <div class="w-full md:w-1/2 px-2 h-auto flex justify-center items-center shrink-0">
    <%= cl_image_tag @book.photo.key, height: 400, width: 250, class: "w-full h-auto object-contain m- rounded-md" %>
  </div>

  <!-- Book Details -->
  <div class="w-full h-full p-2 flex flex-col justify-between gap-2">
    <div class="flex flex-col gap-2 justify-between items-start">
      <!-- Price and Button Container -->
      <div class="pb-2 w-full flex justify-between items-center border-b border-gray-200">
        <!-- Book Price -->
        <p class="text-green-700">
          <span class="align-center text-sm">AED</span>
          <span class="text-lg font-bold">            
            <%= @book.price %>
          </span>
        </p>
        <!-- Action Buttons -->
        <div>
          <%= button_to "Proceed to Buy", chats_path(book_id: @book.id), method: :post, class: "bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded" %>
        </div>
      </div>
      <!-- Book Title -->
      <h1 class="pt-2 text-2xl font-semibold text-gray-800"><%= @book.title %></h1>

      <!-- Book Author -->
      <p class="text-sm text-gray-600">by <%= @book.author %></p>

      <!-- Book Category -->
      <p class="text-gray-600 mt-4">Category: <%= @book.category.name %></p>
      
      <!-- Book Language -->
      <p class="text-gray-600 mt-2">Language: <%= @book.language.name %></p>

      <!-- Sold By -->
      <p class="text-gray-600 mt-2">Sold by: <%= @book.user.full_name %></p>
    </div>

    <!-- Book Description -->
    <div class="mt-4 overflow-hidden">  
      <div class="text-gray-600">
        <strong>Description:</strong>
        <p class="mt-1 whitespace-normal break-words">
          <%= @book.description %>
        </p>
      </div>
    </div>
  </div>
</div>
