<!DOCTYPE html>
<html>
  <head>
    <title>BookMyBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <!-- FontAwesome for icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">

    <link rel="icon" type="image/png" href="/favicon.png">

  </head>

  <body>
    <div class="page-container">
      <header class="navbar">
        <%= render(NavbarComponent.new) %>
      </header>

      <main class="app-content">
        <%= yield %>
      </main>

      <footer class="footer">
        <%= render(FooterComponent.new) %>
      </footer>
    </div>

    <!-- Rails flash messages -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
